@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #e0cba8;
  --foreground: #2e1e17;
  --card: #e0cba8;
  --card-foreground: #2e1e17;
  --popover: #e0cba8;
  --popover-foreground: #2e1e17;
  --primary: #d9822b;
  --primary-foreground: #e0cba8;
  --secondary: #a15c38;
  --secondary-foreground: #e0cba8;
  --muted: #eadccb;
  --muted-foreground: #7b5e48;
  --accent: #eadccb;
  --accent-foreground: #7b5e48;
  --destructive: #a15c38;
  --success: #648b63;
  --border: #eadccb;
  --input: #eadccb;
  --ring: #eadccb;
  --chart-1: #d9822b;
  --chart-2: #a15c38;
  --chart-3: #2e1e17;
  --chart-4: #7b5e48;
  --chart-5: #648b63;
  --sidebar: #e0cba8;
  --sidebar-foreground: #2e1e17;
  --sidebar-primary: #d9822b;
  --sidebar-primary-foreground: #e0cba8;
  --sidebar-accent: #eadccb;
  --sidebar-accent-foreground: #7b5e48;
  --sidebar-border: #eadccb;
  --sidebar-ring: #eadccb;
}

.dark {
  --background: #262626;
  --foreground: #fcfcfc;
  --card: #595959;
  --card-foreground: #fcfcfc;
  --popover: #595959;
  --popover-foreground: #fcfcfc;
  --primary: #ebebeb;
  --primary-foreground: #595959;
  --secondary: #444444;
  --secondary-foreground: #fcfcfc;
  --muted: #444444;
  --muted-foreground: #b5b5b5;
  --accent: #444444;
  --accent-foreground: #fcfcfc;
  --destructive: #c15e3b;
  --border: #ffffff1a; /* 10% opacity */
  --input: #ffffff26; /* 15% opacity */
  --ring: #969696;
  --chart-1: #3e5b9b;
  --chart-2: #7bb7a7;
  --chart-3: #e7b94a;
  --chart-4: #4d7bb7;
  --chart-5: #b59c6a;
  --sidebar: #595959;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #3e5b9b;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a; /* 10% opacity */
  --sidebar-ring: #969696;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
